#cssmenu {
    width: auto;
}

    #cssmenu,
    #cssmenu ul,
    #cssmenu ul li,
    #cssmenu ul li a {
        margin: 0;
        padding: 0;
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 1;
        -moz-transition: all ease .3s;
        -o-transition: all ease .3s;
        -webkit-transition: all ease .3s;
        transition: all ease .3s;
    }

        #cssmenu a.act {
            color: #F26A00;
        }

        #cssmenu:before,
        #cssmenu:after,
        #cssmenu > ul:before,
        #cssmenu > ul:after {
            display: table;
            content: '';
        }

        #cssmenu:after,
        #cssmenu > ul:after {
            clear: both;
        }

        #cssmenu a {
            -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        #cssmenu ul {
            background: #0061AE;
            border-radius: 3px;
            border: 1px solid #2b4479;
            border: 1px solid #2d4373;
            box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
        }

            #cssmenu ul > li {
                float: left;
                list-style: none;
            }

                #cssmenu ul > li > a {
                    position: relative;
                    display: block;
                    padding: 15px 30px;
                    text-decoration: none;
                }

                    #cssmenu ul > li > a:hover {
                        background: #2d4373;
                        /*-moz-box-shadow: inset 0 0 1px #1e2e4f;
                        -ms-box-shadow: inset 0 0 1px #1e2e4f;
                        -o-box-shadow: inset 0 0 1px #1e2e4f;
                        -webkit-box-shadow: inset 0 0 1px #1e2e4f;*/
                        box-shadow: inset 0 0 1px #1e2e4f;
                        -moz-transition: all ease .3s;
                        -ms-transition: all ease .3s;
                        -o-transition: all ease .3s;
                        -webkit-transition: all ease .3s;
                        transition: all ease .3s;
                    }

                        #cssmenu ul > li > a:hover:before {
                            position: absolute;
                            top: 0;
                            left: -1px;
                            z-index: 2;
                            width: 100%;
                            height: 100%;
                            border: 1px solid white;
                            border-top: 0;
                            border-right: 0;
                            border-bottom: 0;
                            content: '';
                            opacity: .2;
                        }

                        #cssmenu ul > li > a:hover:after {
                            position: absolute;
                            top: 0;
                            right: -1px;
                            z-index: 2;
                            width: 100%;
                            height: 100%;
                            border: 1px solid white;
                            border-top: 0;
                            border-bottom: 0;
                            border-left: 0;
                            content: '';
                            opacity: .2;
                        }

        #cssmenu > ul > li > ul {
            position: absolute;
            visibility: hidden;
            opacity: 0;
        }

        #cssmenu > ul > li:hover > ul {
            position: absolute;
            visibility: visible;
            border-radius: 0 0 3px 3px;
            /*-moz-box-shadow: none;
            -ms-box-shadow: none;
            -o-box-shadow: none;
            -webkit-box-shadow: none;*/
            box-shadow: none;
            opacity: 1;
        }

        #cssmenu > ul > li > ul {
            position: absolute;
            width: 200px;
        }

            #cssmenu > ul > li > ul > li {
                position: relative;
                float: none;
            }

                #cssmenu > ul > li > ul > li > ul {
                    position: absolute;
                    visibility: hidden;
                    opacity: 0;
                }

                #cssmenu > ul > li > ul > li:hover > ul {
                    position: absolute;
                    visibility: visible;
                    opacity: 1;
                }

                #cssmenu > ul > li > ul > li > ul {
                    top: 1px;
                    left: 200px;
                    width: 200px;
                }

                    #cssmenu > ul > li > ul > li > ul > li {
                        float: none;
                    }
